
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Archivo+Black&family=Chiron+GoRound+TC:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Macondo+Swash+Caps&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&family=Rubik:ital,wght@0,300..900;1,300..900&family=Salsa&family=Sixtyfour&family=Sora:wght@100..800&family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Fredoka", sans-serif;
    transition: all ease-in-out;
}


